@model IEnumerable<SecurePasswordApp.Models.PasswordCredential>

<h2>Password Credentials</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Website Name</th>
        <th>Website Link</th>
        <th>Username</th>
        <th>Password</th>
    </tr>

    @foreach (var credential in Model)
    {
        <tr>
            <td>@credential.PasswordCredentialId</td>
            <td>@credential.WebsiteName</td>
            <td>@credential.WebsiteUrl</td>
            <td>@credential.WebsiteUsername</td>
            <td>@credential.WebsitePassword</td>
        </tr>
    }
</table>
